.darkContainer,
.lightContainer {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.darkContainer {
    background-color: #0C4E6E;
}

.lightContainer {
    background-color: #B6E1F7;
}

.darkText {
    color: #F5F5F5;
    padding: 0;
    margin: 0;
}

.lightText {
    color: #112A46;
    padding: 0;
    margin: 0;
}

.iconSize {
    width: 32px;
    height: 32px;
}

.titleWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}


@media (max-width:640px) {

    .darkContainer,
    .lightContainer {
        width: 168px;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .titleWrapper {
        align-items: center;
        gap: 4px;
    }

    .iconSize {
        width: 24px;
        height: 24px;
    }

    .Title {
        font-size: 12px;
        font-weight: 500;
        width: 41px;
    }

    .Text {
        font-size: 12px;
        font-weight: 600;
    }


}

@media(min-width: 641px) and (max-width:1447px) {

    .darkContainer,
    .lightContainer {
        width: 138px;
        height: 236px;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .Title {
        font-size: 24px;
        font-weight: 500;
    }

    .iconSize {
        width: 46px;
        height: 46px;
    }

    .Text {
        font-size: 24px;
        font-weight: 400;
        margin-top: 24px;
    }
}

@media (min-width: 1448px) {

    .darkContainer,
    .lightContainer {
        width: 145px;
        height: 283px;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .Title {
        font-size: 24px;
        font-weight: 500;
    }

    .iconSize {
        width: 46px;
        height: 46px;
    }

    .Text {
        font-size: 24px;
        font-weight: 400;
        margin-top: 24px;
    }
}