.darkContainer,
.lightContainer {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.darkContainer {
    background-color: #1A371F;
}

.lightContainer {
    background-color: #9FE5A9;
}

.iconSize {
    width: 2rem;
    height: 2rem;
}

.titleWrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


@media (max-width:640px) {

    .darkContainer,
    .lightContainer {
        width: 21.438rem;
        height: 3.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        box-sizing: border-box;
        padding: 0 1rem;
    }

    .titleWrapper {
        align-items: center;
        gap: 0.25rem;
    }

    .iconSize {
        width: 1.5rem;
        height: 1.5rem;
    }

    .Title {
        font-size: 0.75rem;
        font-weight: 500;
        width: 2.563rem;
    }

    .Text {
        font-size: 0.75rem;
        font-weight: 600;
    }


}

@media(min-width: 641px) and (max-width:1447px) {

    .darkContainer,
    .lightContainer {
        width: 18.188rem;
        height: 6.875rem;
    }

    .Title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .Text {
        font-size: 2rem;
        font-weight: 300;
    }
}

@media (min-width: 1448px) {

    .darkContainer,
    .lightContainer {
        width: 18.563rem;
        height: 6.313rem;
    }

    .Title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .Text {
        font-size: 2rem;
        font-weight: 300;
    }
}