.chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:640px) {

    .chart {
        width: 14.25rem;
        height: 7.438rem;
    }

}

@media(min-width: 641px) and (max-width:1447px) {
    .chart {
        width: 12.188rem;
        height: 9.375rem;
    }
}

@media (min-width: 1448px) {

    .chart {
        width: 12.5rem;
        height: 8.75rem;
    }
}