.container {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleWrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}



.iconSize {
    width: 2rem;
    height: 2rem;
}




@media (max-width:640px) {

    .container {
        box-sizing: border-box;
        width: 21.438rem;
        height: 3.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .titleWrapper {
        display: flex;
        flex-direction: rows;
        justify-content: space-between;
        width: 14.25rem;
    }

    .Title {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .iconSize {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }

    .temperatures {
        display: flex;
        gap: 0.5rem;
    }

    .max {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .low {
        font-size: 1.5rem;
        font-weight: 300;
    }

}

@media(min-width: 641px) and (max-width:1447px) {

    .container {
        min-width: 8.625rem;
        height: 14.75rem;
        justify-content: space-evenly;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
    }

    .Title {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    .iconSize {
        width: 5rem;
        height: 5rem;
    }

    .temperatures {
        display: flex;
        gap: 0.5rem;
    }

    .max {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .low {
        font-size: 1.5rem;
        font-weight: 300;
    }
}

@media (min-width: 1448px) {

    .container {
        width: 9.042rem;
        height: 20rem;
        justify-content: space-evenly;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
    }

    .Title {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    .iconSize {
        width: 5rem;
        height: 5rem;
    }

    .temperatures {
        display: flex;
        gap: 0.5rem;
    }

    .max {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .low {
        font-size: 1.5rem;
        font-weight: 300;
    }
}