.darkContainer,
.lightContainer {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.darkContainer {
    background-color: #2C4263;
}

.lightContainer {
    background-color: #B8C8E0;
}

.iconSize {
    width: 2rem;
    height: 2rem;
}

.titleWrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


@media (max-width:640px) {

    .darkContainer,
    .lightContainer {
        width: 10.5rem;
        height: 3.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .titleWrapper {
        align-items: center;
        gap: 0.25rem;
    }

    .iconSize {
        width: 1.5rem;
        height: 1.5rem;
    }

    .Title {
        font-size: 0.75rem;
        font-weight: 500;
        width: 2.563rem;
    }

    .Text {
        font-size: 0.75rem;
        font-weight: 600;
    }


}

@media(min-width: 641px) and (max-width:1447px) {

    .darkContainer,
    .lightContainer {
        width: 8.625rem;
        height: 14.75rem;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .Title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .iconSize {
        width: 2.875rem;
        height: 2.875rem;
    }

    .Text {
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 1.5rem;
    }
}

@media (min-width: 1448px) {

    .darkContainer,
    .lightContainer {
        width: 9.063rem;
        height: 17.688rem;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .Title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .iconSize {
        width: 2.875rem;
        height: 2.875rem;
    }

    .Text {
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 1.5rem;
    }
}