.wrapper {
    display: flex;
    gap: 16px;
}


@media (max-width:640px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media(min-width: 641px) and (max-width:1447px) {}

@media (min-width: 1448px) {}