.parentDiv {
    position: relative;
    width: 27.813rem;
    height: 4rem;
    z-index: 10;
}

.darkContainer,
.lightContainer {

    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 27.813rem;
    min-height: 4rem;
    max-height: 4rem;
    height: auto;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.darkContainer.expanded,
.lightContainer.expanded {
    max-height: 20rem;
}

.darkContainer {
    background-color: #6C6C6C;
}

.lightContainer {
    background-color: #F5F5F5;
}

.searchInput {
    background-color: transparent;
    border: none;
}

.searchInput:focus {
    border: none;
    outline: none;
}


@media (max-width:640px) {
    .parentDiv {
        position: relative;
        width: 21.438rem;
    }

    .darkContainer,
    .lightContainer {

        border-radius: 50px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 21.438rem;
        min-height: 3rem;
        height: auto;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    .iconSize {
        width: 2.25rem;
        height: 2.25rem;
    }

    .searchInput {
        font-size: 1.5rem;
        font-weight: 300;
        width: 11.25rem;
    }

    .iconInput {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.5rem;
        transform: translate(-2.25rem, -0.125rem);
    }

    .suggestionsList {
        padding: 0;
        margin: 0;
        width: 11.25rem;
        height: auto;
        transform: translateX(-1.25rem);
    }


    .suggestionItem {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 300;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media(min-width: 641px) and (max-width:1447px) {
    .parentDiv {
        position: relative;
        width: 17.563rem;
    }

    .darkContainer,
    .lightContainer {

        border-radius: 50px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 23rem;
        min-height: 3rem;
        height: auto;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    .iconSize {
        width: 2.25rem;
        height: 2.25rem;
    }

    .searchInput {
        font-size: 1.5rem;
        font-weight: 300;
        width: 11.25rem;
    }

    .iconInput {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.5rem;
        margin-left: 1.5rem;
    }

    .suggestionsList {
        padding: 0;
        margin: 0;
        width: 11.25rem;
        margin-left: 56px;
    }


    .suggestionItem {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 300;
        height: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 1448px) {

    .searchInput {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .suggestionsList {
        padding: 0;
        margin: 0;
        width: 18.25rem;
        margin-left: 3.5rem;
    }


    .suggestionItem {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 300;
        height: 2rem;
        margin-bottom: 0.5rem;
    }

    .iconInput {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.5rem;
    }

    .iconSize {
        width: 3rem;
        height: 3rem;
    }
}