html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
    font-family: 'Montserrat', sans-serif;

}

.darkText {
    color: #F5F5F5;
    padding: 0;
    margin: 0;
}

.lightText {
    color: #112A46;
    padding: 0;
    margin: 0;
}

.darkText::placeholder {
    color: #F5F5F5;
}

.lightText::placeholder {
    color: #112A46;
}