html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}

body {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;

}

.darkText {
    color: #F5F5F5;
    padding: 0;
    margin: 0;
}

.lightText {
    color: #112A46;
    padding: 0;
    margin: 0;
}

.darkText::placeholder {
    color: #F5F5F5;
}

.lightText::placeholder {
    color: #112A46;
}

.sunnyLight {
    background-color: #FFD147;
}

.sunnyDark {
    background-color: #8F6B00;
}

.cloudyLight {
    background-color: #C9CFCF;
}

.cloudyDark {
    background-color: #576060;
}

.rainyLight {
    background-color: #51A3F5;
}

.rainyDark {
    background-color: #073D74;
}

.snowLight {
    background-color: #B6CBE2;
}

.snowDark {
    background-color: #294666;
}


.snowstormLight {
    background-color: #7CA2CB;
}

.snowstormDark {
    background-color: #1D3249;
}

.stormLight {
    background-color: #515C67;
}

.stormDark {
    background-color: #24292E;
}