.darkContainer,
.lightContainer {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}


.darkContainer {
    background-color: #2B93A1;
}

.lightContainer {
    background-color: #43BCCD;
}

.textDiv {
    margin-left: 0.5rem;
}

@media (max-width:640px) {

    .Icon {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .textDiv {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .Text {
        font-size: 1.5rem;
        font-weight: 400;
    }


}

@media(min-width: 641px) and (max-width:1447px) {
    .Icon {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .textDiv {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .Text {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

@media (min-width: 1448px) {

    .Icon {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .textDiv {
        display: none;
    }

}