.container {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:640px) {

    .container {
        width: 21.438rem;
        height: 11.5rem;
        box-sizing: border-box;
    }

    .iconSize {
        width: 6rem;
        height: 6rem;
        margin-top: 1rem;
    }

    .firstRow {
        display: flex;
        margin-top: 0.563rem;
        margin-left: -2.625rem;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .Title {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .Text {
        font-size: 1.25rem;
        font-weight: 400;
    }

    .secondRow {
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
    }

    .max {
        font-size: 2rem;
        font-weight: 700;
        position: relative;
        margin-left: -3.125rem;
    }

    .low {
        font-size: 1.25rem;
        font-weight: 300;
        transform: translateX(2.063rem);
    }

    .apparentTemp {
        font-size: 1.25rem;
        font-weight: 300;
        transform: translateX(3.063rem);
    }

}

@media(min-width: 641px) and (max-width:1447px) {

    .container {
        width: 37.063rem;
        height: 16rem;
        box-sizing: border-box;
    }

    .iconSize {
        width: 11rem;
        height: 11rem;
    }

    .firstRow {
        display: flex;
        margin-left: -10.813rem;
        margin-top: -0.438rem;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-left: 1.5rem;
    }

    .Title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .Text {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .secondRow {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        box-sizing: border-box;
        margin-left: 10.813rem;
        margin-top: -3.25rem;
    }

    .max {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .low {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .apparentTemp {
        font-size: 1.5rem;
        font-weight: 300;
        margin-left: 1.438rem;
    }
}

@media (min-width: 1448px) {

    .container {
        width: 28.188rem;
        height: 20rem;
        box-sizing: border-box;
    }

    .iconSize {
        width: 11rem;
        height: 11rem;
        margin-left: -0.625rem;
    }

    .firstRow {
        display: flex;
        margin-top: 0.563rem;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    .Title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .Text {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .secondRow {
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 0.438rem;
        width: 23.75rem;
        box-sizing: border-box;
    }

    .max {
        font-size: 2.5rem;
        font-weight: 700;
        margin-left: -0.563rem;
    }

    .low {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .apparentTemp {
        font-size: 1.5rem;
        font-weight: 300;
        margin-left: 1.438rem;
    }

}