    .darkContainer,
    .lightContainer {
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .darkContainer {
        background-color: #1E445C;
    }

    .lightContainer {
        background-color: #CAE5F6;
    }


    .iconSize {
        width: 2rem;
        height: 2rem;
    }

    .textPadding {
        padding: 0;
        margin: 0;
    }

    .titleWrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }


    @media (max-width:640px) {

        .darkContainer,
        .lightContainer {
            width: 10.5rem;
            height: 3.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .titleWrapper {
            align-items: flex-start;
            gap: 0.25rem;
        }

        .iconSize {
            width: 1.5rem;
            height: 1.5rem;
        }

        .Title {
            font-size: 0.75rem;
            width: 2.5rem;
        }

        .Text {
            font-size: 0.75rem;
            font-weight: 600;
        }


    }

    @media(min-width: 641px) and (max-width:1447px) {

        .darkContainer,
        .lightContainer {
            width: 18.25rem;
            height: 6.875rem;
        }

        .Title {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .Text {
            font-size: 2rem;
            font-weight: 300;
        }
    }

    @media (min-width: 1448px) {

        .darkContainer,
        .lightContainer {
            width: 18.5625rem;
            height: 6.3125rem;
        }

        .Title {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .Text {
            font-size: 2rem;
            font-weight: 300;
        }
    }